/* ==========================================================================
   #SHAME
   Dirty temporary css waiting for a structural solution
   ========================================================================== */

/* ==================================
   #HERO TODO: create vision and make part of appuniversum
   ================================== */

.au-c-intro {
  @include au-font-size($au-h4);
  color: $au-gray-800;
  max-width: 60ch;

  & + & {
    margin-top: $au-unit-small;
  }

  @include mq(medium) {
    @include au-font-size($au-h3);
    max-width: 44ch;

    & + & {
      margin-top: $au-unit;
    }
  }
}

/* Make sure the sparql query table does not overflow and the buttons are positioned correctly */

.yasgui .controlbar {
	justify-content: flex-end;
	margin-bottom: 1rem;
}

.yasgui .autocompleteWrapper {
  display: none !important;
}

a.au-c-button:not(.au-c-button--secondary):not(.au-c-button--tertiary) {
  color: $au-white;
}

.yasgui table.dataTable {
  width: auto !important;
}

.yasgui td,
.yasgui td {
  word-break: break-word !important;
  text-align: left;
}