/* ==========================================================================
   #SHAME
   Dirty temporary css for demo purposes.
   Some parts will be reused, but most of them will not.
   ========================================================================== */

/* ==================================
   #HERO
   ================================== */

.au-c-intro {
  @include au-font-size($au-h4);
  font-weight: $au-light;
  color: $au-gray-800;
  max-width: 60ch;

  & + & {
    margin-top: $au-unit-small;
  }

  @include mq(medium) {
    @include au-font-size($au-h3);
    max-width: 44ch;

    & + & {
      margin-top: $au-unit;
    }
  }

}


.yasgui .controlbar {
	justify-content: flex-end;
	margin-bottom: 1rem;
}

.yasgui .autocompleteWrapper {
  display: none !important;
}

a.au-c-button:not(.au-c-button--secondary):not(.au-c-button--tertiary) {
  color: $au-white;
}
