{{page-title "Discover"}}

<AuHeading @level="2" @skin="2">Discover the information we have</AuHeading>
<p>All the data we have is derived from the meeting minutes your local governments share with us. The data we can currently extract from these meeting minutes are:</p>

<ul>
  <li>The meeting minutes themselves</li>
  <li>The type of meeting</li>
  <li>The participants (city council members, mayor, aldermen, ...)</li>
  <li>The decisions made during that meeting</li>
</ul>

<p>Using our <strong>Name for our tool in English</strong>, you can explore the data in the query results, which will show as follows:</p>

<p>*an image*</p>

<AuHelpText>Through queries, you can explore data about city councils,...</AuHelpText>

<AuLink @linkRoute="participate.explore" class="au-c-button au-c-button--secondary au-c-button--large au-u-margin-bottom">
  <AuIcon @icon="arrow-right" @size="large" @alignment="left" /> Explore the data
</AuLink>