{{page-title "Explore"}}

<div class="au-u-margin-top-large">
  <div class="au-o-grid">
    <div class="au-o-grid__item au-u-2-4@medium">
      <AuContent>
        <AuHeading @level="2" @skin="2">Explore the data with our <br> Decision Data Hive</AuHeading>
        <p>We made a first prototype that lets you query our data, and allows you to click through the information just like Wikipedia: <a href="#">Decision Data Hive</a>.</p>
      </AuContent>
    </div>
    <div class="au-o-grid__item au-u-1-4@medium">
      <svg width="250" height="274" viewBox="0 0 313 274" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
        <path d="M28.6731 244.369C28.1061 240.708 27 237.151 25.3909 233.816L25.1563 233.33L23.4141 235.264L24.705 232.383L24.6206 232.215C23.4814 229.957 22.2189 227.763 20.8388 225.644L20.5828 225.251L20.2414 225.63L20.4804 225.096L20.3607 224.917C18.6514 222.349 17.3382 220.725 17.3252 220.709L16.9539 220.251L16.715 220.797C16.6712 220.897 12.3309 230.913 11.7559 240.811L11.7469 240.966L14.668 244.502L11.689 242.629L11.6941 243.309C11.7032 244.472 11.7822 245.634 11.9308 246.788C12.062 247.78 12.2165 248.749 12.3941 249.694C12.6757 249.703 12.9496 249.789 13.1862 249.942C12.9804 248.886 12.803 247.8 12.6538 246.685C12.5387 245.794 12.4662 244.89 12.4374 243.988L18.1996 247.612L12.4933 240.704C13.0129 232.335 16.2375 223.904 17.1429 221.678C17.6287 222.309 18.5453 223.535 19.6417 225.171L17.6485 229.622L20.4902 226.466C21.7223 228.387 22.8571 230.368 23.8905 232.403L20.8212 239.256L24.9711 234.647C26.4206 237.769 27.424 241.08 27.9516 244.482C28.6779 249.976 28.5361 255.255 27.5523 259.345C26.6099 263.263 24.949 265.672 22.9953 265.953C22.5933 266.009 22.1842 265.984 21.7915 265.881C21.4766 266.105 21.0977 266.221 20.7115 266.211H20.605C21.211 266.548 21.8904 266.731 22.5834 266.744C22.7546 266.744 22.9256 266.731 23.0951 266.707C25.392 266.376 27.2263 263.828 28.2599 259.531C29.2658 255.348 29.4131 249.966 28.6731 244.369Z" fill="#E6E6E6"/>
        <path d="M22.2446 266.455C19.2401 266.455 14.9081 264.799 10.6114 261.786C9.97894 261.339 9.37504 260.853 8.80322 260.33L8.32197 259.89L10.1415 259.365L7.71872 259.276L7.61648 259.169C3.07505 254.405 0.248997 247.677 0.220855 247.61L0 247.078L0.574224 247.104C0.631398 247.107 1.9966 247.171 4.04842 247.463L4.1763 247.481V247.48L4.62621 247.548C6.30169 247.803 7.96151 248.153 9.59777 248.595L9.77249 248.642L10.3184 249.989L10.2356 248.781L10.7364 248.926C13.1103 249.612 15.3649 250.659 17.4218 252.03C23.9561 256.613 27.5717 262.34 25.6604 265.074C25.0071 266.008 23.8045 266.454 22.2446 266.455ZM9.79029 260.227C10.1894 260.565 10.6048 260.887 11.0308 261.188C17.0155 265.385 23.4413 266.973 25.0626 264.655C26.6836 262.337 22.996 256.831 17.0105 252.634C15.1639 251.403 13.152 250.442 11.0353 249.779L11.3589 254.498L9.23299 249.253C7.83287 248.881 6.40052 248.575 4.96656 248.341L5.20147 251.766L3.73831 248.157C2.60464 248.001 1.69076 247.917 1.13488 247.873C1.89274 249.54 4.39695 254.687 8.04231 258.557L14.7285 258.802L9.79029 260.227Z" fill="#E6E6E6"/>
        <path d="M118.32 266.042H0.123047V266.861H118.32V266.042Z" fill="#3F3D56"/>
        <path d="M283.492 63.1822H282.033V23.1624C282.033 20.1207 281.435 17.1087 280.273 14.2985C279.111 11.4883 277.407 8.93494 275.26 6.78412C273.112 4.63329 270.563 2.92716 267.757 1.76314C264.951 0.59912 261.943 3.35832e-06 258.906 0H174.249C168.115 -1.35646e-05 162.233 2.44029 157.895 6.78406C153.558 11.1278 151.122 17.0193 151.122 23.1623V242.714C151.122 248.857 153.558 254.748 157.895 259.092C162.232 263.436 168.115 265.876 174.249 265.876H258.906C265.04 265.876 270.922 263.436 275.259 259.092C279.597 254.749 282.033 248.857 282.033 242.714V91.6689H283.492L283.492 63.1822Z" fill="#E6E6E6"/>
        <path d="M259.84 6.02589H248.789C249.297 7.27372 249.491 8.62756 249.354 9.96816C249.216 11.3088 248.752 12.595 248.002 13.7135C247.251 14.832 246.237 15.7485 245.05 16.3822C243.862 17.0159 242.537 17.3474 241.192 17.3475H192.693C191.347 17.3474 190.022 17.0159 188.835 16.3822C187.647 15.7485 186.633 14.832 185.883 13.7135C185.132 12.595 184.668 11.3087 184.531 9.96815C184.393 8.62755 184.587 7.2737 185.095 6.02588H174.774C172.506 6.02588 170.26 6.47328 168.165 7.34255C166.069 8.21183 164.166 9.48594 162.562 11.0922C160.958 12.6984 159.686 14.6052 158.818 16.7038C157.95 18.8024 157.503 21.0517 157.503 23.3232V242.553C157.503 244.824 157.95 247.074 158.818 249.172C159.686 251.271 160.958 253.178 162.562 254.784C164.165 256.39 166.069 257.664 168.165 258.533C170.26 259.403 172.506 259.85 174.774 259.85H259.84C262.108 259.85 264.353 259.403 266.449 258.533C268.544 257.664 270.448 256.39 272.052 254.784C273.656 253.178 274.928 251.271 275.796 249.172C276.664 247.074 277.111 244.824 277.111 242.553V23.3233C277.111 21.0517 276.664 18.8025 275.796 16.7038C274.928 14.6052 273.656 12.6984 272.052 11.0922C270.448 9.48596 268.544 8.21185 266.449 7.34258C264.353 6.4733 262.108 6.02589 259.84 6.02589H259.84Z" fill="white"/>
        <path d="M219.619 89.5134C214.353 89.5134 209.205 87.9493 204.826 85.0189C200.447 82.0885 197.034 77.9234 195.018 73.0503C193.003 68.1772 192.476 62.815 193.503 57.6418C194.531 52.4685 197.067 47.7166 200.791 43.9869C204.515 40.2572 209.259 37.7172 214.425 36.6882C219.59 35.6592 224.944 36.1873 229.81 38.2058C234.675 40.2243 238.834 43.6425 241.76 48.0282C244.686 52.4139 246.248 57.57 246.248 62.8446C246.24 69.9151 243.432 76.6938 238.44 81.6934C233.448 86.6931 226.679 89.5054 219.619 89.5134ZM219.619 36.9064C214.497 36.9064 209.49 38.4277 205.231 41.2778C200.972 44.1279 197.653 48.1789 195.692 52.9185C193.732 57.6581 193.219 62.8734 194.219 67.9049C195.218 72.9364 197.685 77.5581 201.306 81.1856C204.928 84.8132 209.543 87.2835 214.567 88.2844C219.591 89.2852 224.798 88.7715 229.53 86.8083C234.263 84.8451 238.308 81.5206 241.153 77.2551C243.999 72.9896 245.518 67.9747 245.518 62.8446C245.51 55.9678 242.779 49.3748 237.924 44.5122C233.069 39.6495 226.486 36.9142 219.619 36.9064Z" fill="#3F3D56"/>
        <path d="M214.513 243.315C211.843 243.315 209.234 242.523 207.015 241.037C204.795 239.552 203.065 237.441 202.044 234.971C201.022 232.501 200.755 229.783 201.276 227.161C201.796 224.539 203.082 222.131 204.969 220.24C206.857 218.35 209.262 217.063 211.88 216.541C214.498 216.019 217.211 216.287 219.678 217.31C222.144 218.333 224.252 220.066 225.735 222.289C227.218 224.512 228.009 227.125 228.009 229.798C228.005 233.382 226.582 236.818 224.052 239.352C221.522 241.886 218.091 243.311 214.513 243.315ZM214.513 217.012C211.988 217.012 209.519 217.762 207.42 219.167C205.32 220.572 203.684 222.569 202.718 224.905C201.751 227.242 201.499 229.813 201.991 232.293C202.484 234.773 203.7 237.051 205.485 238.84C207.271 240.628 209.546 241.846 212.022 242.339C214.499 242.832 217.066 242.579 219.398 241.611C221.731 240.644 223.725 239.005 225.128 236.902C226.531 234.799 227.28 232.327 227.28 229.798C227.276 226.408 225.929 223.158 223.536 220.761C221.143 218.364 217.898 217.016 214.513 217.012Z" fill="#3F3D56"/>
        <path d="M313 163.819H258.438V109.174H313V163.819ZM259.168 163.088H312.27V109.905H259.168V163.088Z" fill="#3F3D56"/>
        <path d="M197.774 193.046H168.187V163.413H197.774V193.046ZM168.917 192.315H197.045V164.144H168.917V192.315Z" fill="#3F3D56"/>
        <path d="M31.4719 87.8121C38.1055 87.8121 43.4831 82.4263 43.4831 75.7825C43.4831 69.1388 38.1055 63.7529 31.4719 63.7529C24.8383 63.7529 19.4607 69.1388 19.4607 75.7825C19.4607 82.4263 24.8383 87.8121 31.4719 87.8121Z" fill="#2F2E41"/>
        <path d="M51.4904 104.425C59.3876 104.425 65.7895 98.0129 65.7895 90.1036C65.7895 82.1944 59.3876 75.7827 51.4904 75.7827C43.5933 75.7827 37.1914 82.1944 37.1914 90.1036C37.1914 98.0129 43.5933 104.425 51.4904 104.425Z" fill="#2F2E41"/>
        <path d="M67.9753 213.365L60.9619 225.792C60.9619 225.792 51.7907 216.607 56.646 214.176L64.1989 211.744L67.9753 213.365Z" fill="#FFB8B8"/>
        <path d="M55.5669 246.594L57.7249 255.78L51.251 257.941L49.093 247.405L55.5669 246.594Z" fill="#FFB8B8"/>
        <path d="M69.0655 153.89L70.4558 168.1C70.4558 168.1 95.4889 191.212 86.8571 199.857C78.2253 208.502 67.4356 215.527 67.4356 215.527L62.5802 212.014L73.6397 196.886L51.2509 180.946L56.3761 247.675L48.5535 249.836L31.0202 182.297C31.0202 182.297 25.6253 160.685 38.8427 149.878L69.0655 153.89Z" fill="#2F2E41"/>
        <path d="M53.1394 255.51C53.1394 255.51 57.1856 250.377 59.0738 254.97C60.3181 258.128 61.3103 261.38 62.041 264.695C62.041 264.695 69.0543 275.231 58.2646 273.88C47.4748 272.53 50.7117 267.667 50.7117 267.667C50.1378 267.295 49.681 266.767 49.3945 266.146C49.108 265.524 49.0035 264.834 49.0933 264.155C49.363 261.723 50.7117 256.05 50.7117 256.05C50.7117 256.05 52.0605 253.619 53.1394 255.51Z" fill="#2F2E41"/>
        <path d="M64.3336 220.254C64.3336 220.254 66.6264 222.551 62.85 226.333C62.85 226.333 62.3105 236.869 57.4551 235.789C52.5998 234.708 50.9813 221.47 51.5208 220.119C52.0603 218.769 50.7115 208.773 53.9485 209.043C57.1854 209.313 61.2316 212.825 61.2316 212.825C61.2316 212.825 54.2182 219.309 60.9618 223.631C60.9618 223.631 62.7151 222.956 64.3336 220.254Z" fill="#2F2E41"/>
        <path d="M44.2378 115.839L64.7383 116.379C60.2207 109.958 59.3704 102.384 61.2317 93.9561L47.7445 96.6576C50.3417 103.536 50.3865 109.435 44.2378 115.839Z" fill="#FFB8B8"/>
        <path d="M37.764 150.689L69.5938 159.604L75.7024 117.457C75.5778 115.562 74.7935 113.771 73.486 112.396C72.1786 111.021 70.4309 110.148 68.5473 109.93L61.2317 109.085L48.0143 110.436L41.7628 112.205C40.0111 112.701 38.4781 113.775 37.4128 115.254C36.3476 116.732 35.8126 118.528 35.8947 120.349L37.764 150.689Z" fill="#FFE615"/>
        <path d="M68.2449 151.499L73.37 157.443L85.7783 144.205L81.1652 121.297C80.6149 118.564 79.265 116.058 77.2873 114.097C75.3097 112.135 72.7938 110.808 70.0602 110.284L66.6265 109.625L74.1793 140.423L68.2449 151.499Z" fill="#FFE615"/>
        <path d="M68.499 159.854L72.2909 154.741L69.054 151.5L63.7965 152.873C63.0535 153.067 62.3731 153.45 61.8215 153.985C61.2698 154.52 60.8655 155.189 60.6477 155.927C60.43 156.664 60.4062 157.445 60.5788 158.195C60.7513 158.944 61.1142 159.636 61.6323 160.204C62.0757 160.69 62.6208 161.071 63.2286 161.321C63.8364 161.571 64.4919 161.683 65.1481 161.65C65.8043 161.616 66.445 161.438 67.0243 161.127C67.6036 160.817 68.1072 160.382 68.499 159.854Z" fill="#FFB8B8"/>
        <path d="M43.4286 153.12L38.3035 159.064L25.8953 145.826L30.5083 122.918C31.0586 120.186 32.4085 117.679 34.3862 115.718C36.3639 113.756 38.8798 112.429 41.6133 111.905L45.0471 111.246L37.4942 142.044L43.4286 153.12Z" fill="#FFE615"/>
        <path d="M43.1742 161.474L39.3823 156.362L42.6192 153.12L47.8767 154.494C48.6197 154.688 49.3001 155.071 49.8518 155.606C50.4034 156.141 50.8078 156.81 51.0255 157.547C51.2432 158.285 51.267 159.066 51.0945 159.815C50.922 160.565 50.559 161.257 50.0409 161.824C49.5975 162.31 49.0524 162.692 48.4446 162.942C47.8368 163.192 47.1813 163.304 46.5251 163.27C45.8689 163.237 45.2283 163.059 44.6489 162.748C44.0696 162.438 43.566 162.003 43.1742 161.474Z" fill="#FFB8B8"/>
        <path d="M53.4674 100.641C58.6393 100.641 62.8319 96.4416 62.8319 91.2617C62.8319 86.0819 58.6393 81.8828 53.4674 81.8828C48.2954 81.8828 44.1028 86.0819 44.1028 91.2617C44.1028 96.4416 48.2954 100.641 53.4674 100.641Z" fill="#FFB8B8"/>
        <path d="M63.5016 90.3899H47.4867L42.625 83.8022C47.4079 79.6093 53.394 78.8578 60.0698 80.0788L63.5016 90.3899Z" fill="#2F2E41"/>
        <path d="M205.029 80.3801C217.116 80.3801 226.915 70.5664 226.915 58.4606C226.915 46.3547 217.116 36.541 205.029 36.541C192.942 36.541 183.143 46.3547 183.143 58.4606C183.143 70.5664 192.942 80.3801 205.029 80.3801Z" fill="#E6E6E6"/>
        <path d="M297.682 99.8047H249.831V147.729H297.682V99.8047Z" fill="#FFE615"/>
        <path d="M176.568 184.25H202.219V158.56H176.568V184.25Z" fill="#E6E6E6"/>
        <path d="M207.217 238.567C213.261 238.567 218.16 233.66 218.16 227.607C218.16 221.554 213.261 216.647 207.217 216.647C201.174 216.647 196.274 221.554 196.274 227.607C196.274 233.66 201.174 238.567 207.217 238.567Z" fill="#FFE615"/>
        </g>
        <defs>
        <clipPath id="clip0">
        <rect width="313" height="274" fill="white"/>
        </clipPath>
        </defs>
      </svg>
    </div>
  </div>
</div>

<img src="/assets/images/example-entry.png">

<AuHeading @level="3" @skin="3">How To Work With The Decision Data Hive</AuHeading>

<AuHeading @level="4" @skin="4">1. Choose What Type Of Data You Want To Explore</AuHeading>

<p>When local governments publish their linked data, the information gets assigned <strong>types</strong> that you can explore.</p>

<p>Let’s say you want to explore council meetings (zittingen) in the database:</p>
<CodeBlock @code='PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX besluit: <http://data.vlaanderen.be/ns/besluit#>
SELECT * WHERE {
  ?sub a besluit:Zitting.
} LIMIT 10'
  @language="html" />

<p>You can do the same with the decisions (besluiten):</p>
<CodeBlock @code='PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX besluit: <http://data.vlaanderen.be/ns/besluit#>
SELECT * WHERE {
  ?sub a besluit:Besluit.
} LIMIT 10'
  @language="html" />

<p>You can also find out explore who attended a council meeting:</p>

<CodeBlock @code='PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX besluit: <http://data.vlaanderen.be/ns/besluit#>
PREFIX person: <http://www.w3.org/ns/person#>
SELECT * WHERE {
  ?sub a person:Person.
} LIMIT 10'
  @language="html" />

<AuHr @size="large" />
<AuHeading @level="4" @skin="4">2. If desired, adjust the query</AuHeading>
<p>Just like with any other query, you can order the results, count them, set limits,...</p>

<CodeBlock @code='SELECT DISTINCT ?bestuursorgaan (COUNT(?s) AS ?aantalZittingen) WHERE {
  ?s a besluit:Zitting;
    besluit:isGehoudenDoor ?bestuursorgaan.
}
GROUP BY ?bestuursorgaan
ORDER BY ?aantalZittingen'
  @language="html" />

<AuHelpText>This query will show you the amount of meetings in each Governing Body (bestuursorgaan), in ascending order.</AuHelpText>

<p>If you want to discover more types of data you can query on, execute this query and you will find more possibilities:</p>

<CodeBlock @code='SELECT DISTINCT ?type WHERE {
  ?sub a ?type .
} LIMIT 100'
  @language="html" />

<p><a href="https://lblod.github.io/pages-vendors/#/docs/sparql-endpoint">[DUTCH] Find more information on how to query our database: https://lblod.github.io/pages-vendors/#/docs/sparql-endpoint</a>.</p>

<AuHr />
<AuHeading @level="4" @skin="4">3. Run the query</AuHeading>

<p>Once you run the query you will see the results in a table. </p>
<img src="/assets/images/example-search.png">

<AuHr />
<AuHeading @level="4" @skin="4">4. Start exploring</AuHeading>
<img src="/assets/images/example-result.png">

<AuButtonGroup>
  <AuLink @linkRoute="participate.discover" class="au-c-button au-c-button--secondary au-c-button--large au-u-margin-bottom">
    <AuIcon @icon="arrow-left" @size="large" @alignment="left" /> Discover the information
  </AuLink>
  <AuLink @linkRoute="participate.propose" class="au-c-button au-c-button--secondary au-c-button--large au-u-margin-bottom">
    Propose your idea <AuIcon @icon="arrow-right" @size="large" @alignment="right" />
  </AuLink>
</AuButtonGroup>