{{page-title "Propose"}}


<AuHeading @level="2" @skin="2">How to propose your idea</AuHeading>
<p>Send us your proposal whether it’s a design, prototype or concept, ...</p>

<a href="#" class="au-c-button au-c-button--large au-u-margin-bottom">
  Submit your idea
</a>
<AuHelpText>You have until DD/MM/YYYY to submit your proposal</AuHelpText>

<AuHeading @level="3" @skin="3">Next steps</AuHeading>

<p>On DD/MM/YYYY we will ask you to present it in front of.....</p>

<p>Awards will be handed out on DD/MM/YYYY</p>


<p>Awards illustration</p>


<AuLink @linkRoute="participate.explore" class="au-c-button au-c-button--secondary au-c-button--large au-u-margin-bottom">
  <AuIcon @icon="arrow-left" @size="large" @alignment="left" /> Explore the data
</AuLink>