{{page-title ""}}
<div class="au-o-region-large au-c-hero">
  <div class="au-o-layout au-o-layout--large">
    <div class="au-o-grid au-o-grid--center">
      <div class="au-o-grid__item au-u-3-5@medium">
        <AuHeading @level="1" @skin="1" class="au-u-margin-bottom">
          Need Help or Inspiration?
          <br>
          We're Here!
        </AuHeading>
        <p class="au-c-intro au-u-margin-bottom">
          We got feedback from the community that getting started with this challenge, is a challenge in itself.
          <br>
          <br>
          We decided to organise a mini hackathon on thursday the 18th of March to inspire and answer any remaining questions you may have about the decision data hive.
        </p>
      </div>

      <div class="au-o-grid__item au-u-2-5@medium au-u-2-5@large">
        <img src="/images/lod-propose-large.svg">
      </div>
    </div>
  </div>
</div>

<AuHr />

<section class="au-o-region-large">
  <div class="au-o-layout au-o-layout--large">
    <div class="au-o-grid au-o-grid--center">

      <div class="au-o-grid__item au-u-1-3@medium">
        <AuHeading @skin="2" @level="2" class="au-u-margin-bottom">
         How it will work
        </AuHeading>
        <AuContent>
          <p class="au-u-margin-bottom">
            During our talk at <a href="https://2021.openbelgium.be/" target="_blank" rel="noreferrer noopener" class="au-c-link">Open Belgium</a>, we challenged you to tell us how you would reuse the data your local authorities have. You can challenge us by sending a concept, wireframe, prototype &mdash; however you would like to communicate your idea.
          </p>
          <p><strong>During the mini-hackathon we'll be available to guide you with exploring the data, and support where needed on our <AuLink href="https://discord.gg/eScePvyv" target="_blank" rel="noreferrer noopener"> Discord channel "LOD-challenge"</AuLink></strong></p>
        </AuContent>
      </div>

      <div class="au-o-grid__item au-u-2-3@medium">
        <AuHeading @skin="2" @level="2" class="au-u-margin-bottom">
         Schedule Thursday 18 March
        </AuHeading>

        <AuContent>
          <ul>
            <li class="au-u-margin-bottom-small">
              <p>
                <strong>9:00 (AM) – Kick-off [recorded]</strong>
                <br>
                Dive a deeper into the data with us + attend an ideation session for those who need to get inspired!
                <AuHelpText>We will record the morning session so you can watch it whenever suits you, in case you can’t make it.</AuHelpText>
              </p>
            </li>
            <li class="au-u-margin-bottom-small">
              <p>
                <strong>10.30AM - Get hacking!</strong>
                <br>We’ll be available throughout the day to answer any of your questions.
              </p>
            </li>
            <li class="au-u-margin-bottom-small">
              <p>
                <strong>17 PM - Closing session &amp; opening session for evening hackers! [recorded]</strong>
                <br>
                Not everyone has time during the day; but we definitely value your input!
              </p>
            </li>
            <li class="au-u-margin-bottom-small">
              <p>
                <strong>18 PM - ...? Evening hacking</strong>
                <br>
                Some of us like to burn the midnight oil! Until 22:00 a selection of our guides will remain available to answer your questions.
              </p>
            </li>
            <li class="au-u-margin-bottom-small">
              <p>
                <strong>22 March: Deadline for your proposal!</strong>
                <br>
                Didn't finish it? Don't worry, you've got until 22 March <strong>Midnight</strong> to <AuLink @linkRoute="participate.propose">propose your idea</AuLink>.
              </p>
            </li>
          </ul>
        </AuContent>
      </div>
    </div>
  </div>
</section>

<section class="au-o-region-large">
  <div class="au-o-layout au-o-layout--large">
    <div class="au-o-grid au-o-grid--center">
      <div class="au-o-grid__item au-u-1-4">
        <AuHeading @skin="2" @level="2" class="au-u-margin-bottom">
         We’d love to see you there!
        </AuHeading>
        <AuContent>
          <p>Our guides are thrilled to help you out on our Discord Channel.</p>
        </AuContent>

        <p class="au-c-para au-u-margin-top">
          <AuLink href="https://discord.gg/eScePvyv" target="_blank" rel="noreferrer noopener" class="au-c-button au-c-button--large au-u-margin-bottom">
            <AuIcon @icon="arrow-right" @size="large" @alignment="left" /> Join the Discord channel
          </AuLink>
        </p>
      </div>

      <div class="au-o-grid__item au-u-3-4">
        <img src="/images/discord.png">
      </div>
    </div>
  </div>
</section>

{{outlet}}