{{page-title "Contact"}}

<div class="au-o-layout au-o-layout--large">
  <div class="au-o-grid au-o-grid--center">
    <div class="au-o-grid__item au-u-2-3@medium au-u-1-3@large">
      <AuHeading @level="1" @skin="1" class="au-u-margin-top-large">Contact</AuHeading>
      <AuAlert @alertIcon="info-circle" @alertTitle="Ran into an issue? Get in touch!" @alertskin={{"info"}} class="au-u-margin-top-large">
        <p>In case you run into an issue, you can't find your way or you have some feedback; don't hesitate to get in touch via <a href="mailto:digitaalABB@vlaanderen.be">digitaalABB@vlaanderen.be</a>.</p>
      </AuAlert>
    </div>
  </div>
</div>